extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/admin/requests") Resquests
			a(id="sidemen" href="/admin/addAdmins") Add Admins
			a(id="sidemen" href="/admin/users") Users
			a(id="sidemen" href="/admin/addSensors") Add Sensors

block main
	div.editor
		block content
			div.center
				form(class="form-login box", action="/admin/createaccount", method="POST")
					ul.noul
						li
							h3.divider Create Account
							input.input-block-level(type="email", name="email", placeholder="Email",required="required")
						li
							input.input-block-level(type="password", name="password", placeholder="Password",required="required")
						li
							input.input-block-level(type="text", name="FirstName", placeholder="First Name",required="required")
						li
							input.input-block-level(type="text", name="LastName", placeholder="Last Name",required="required")					
						li
							span.small
								input(type="checkbox", value="remember-me", id="remember_me")
								label(for="remember_me") Remember me

							button(class="btn flt-right",type="submit") Create
				
block post_wrap
	