extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/admin/requests") Resquests
			a(id="sidemen" href="/admin/addAdmins") Add Admins
			a(id="sidemen" href="/admin/users") Users
			a(id="sidemen" href="/admin/addSensors") Add Sensors

block main
	div.editor
		block content
			div.center
				p
					form(class="form-login box", action="/admin/SensorsAdded", method="POST")
						ul.noul
							li
								h3.divider Add Sensor
								input(type="text", name="addSensors", placeholder="Sensor Name", required="required")
							li
								input(type="text", name="Latitude", placeholder="Latitude", required="required")
							li
								input(type="text", name="Longitude", placeholder="Longitude", required="required")
							li
								input(type="text", name="Cost", placeholder="Cost", required="required")
							li
								each val in data
									input(type = "hidden" name = "requestIdu" value = "#{val.userId}")
								button(class="btn flt-right",type="submit", onclick="javascript:alert('New Sensor Added!!')" ) Add
block post_wrap
