extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/admin/requests") Resquests
			a(id="sidemen" href="/admin/addAdmins") Add Admins
			a(id="sidemen" href="/admin/users") Users
			a(id="sidemen" href="/admin/addSensors") Add Sensors

block main
	div.editor
		block content
			div.center
				p
					form(action="/admin/SensorsAdded", method="POST")
							input(type="text", name="addSensors", placeholder="Add Sensor")
							each val in data
								#{val.userId}
								input(type = "hidden" name = "requestIdu" value = '#{val.userId}')
							button(class="btn flt-right",type="submit") Add						
block post_wrap
	