extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/admin/requests") Resquests
			a(id="sidemen" href="/admin/addAdmins") Add Admins
			a(id="sidemen" href="/admin/users") Users
			a(id="sidemen" href="/admin/addSensors") Add Sensors

block main
	div.editor
		block content
			div.center
							p
								table(border="1" cellpadding="5" cellspacing="5" width="100%" height="35")			
									th(bgcolor="#A5FF7F" height="50")
										|User
									th(bgcolor="#A5FF7F" height="50")
										|Requested Sensor
									th(bgcolor="#A5FF7F" height="50")
										|Action
									each val in data
											tr
												form(action="/admin/addSensors", method="POST")
													td #{val.userId}
													td #{val.sensorType}
													td 
														input(type = "hidden" name = "requestId" value = '#{val.userId}')
														button(type="submit") Add
block post_wrap	