extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/admin/requests") Resquests
			a(id="sidemen" href="/admin/addAdmins") Add Admins
			a(id="sidemen" href="/admin/users") Users
			a(id="sidemen" href="/admin/addSensors") Add Sensors

block main
	div.editor
		block content
			div.center
				p
					success in adding sensors
				
block post_wrap
	