extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/admin/requests") Resquests
			a(id="sidemen" href="/admin/addAdmins") Add Admins
			a(id="sidemen" href="/admin/users") Users
			a(id="sidemen" href="/admin/addSensors") Add Sensors

block main
	div.editor
		block content
			div.center
				p
					table(border="1" cellpadding="5" cellspacing="5" width="100%" height="35")			
									th(bgcolor="#A5FF7F" height="50")
										|Account Type
									th(bgcolor="#A5FF7F" height="50")
										|Email Id
									each val in data
										tr
											td
												| #{val.accountType}
											td
												| #{val.email}
					
				
block post_wrap
	