extends ../layout.jade
block siden
	include sidenav.jade

block main
	div.editor
		block content
			div.center
				form(action="/editor/billlingform", method="POST")
					COST OF THIS SENSOR -> $4.5 in table form !
					table
						tr
							td
								#{jsonVariable.sensorName}
							td
								#{jsonVariable.sensorType}
							td
								