extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/editor/dashboard") Dashboard
			a(id="sidemen" href="/editor/sensorInstance") Sensor Instance
			a(id="sidemen" href="/editor/account") Account
			a(id="sidemen" href="/editor/billing") Billing

block main
	div.editor
		block content
			div.center
				form(action="/editor/billlingform", method="POST")
					COST OF THIS SENSOR -> $4.5 in table form !
					table
						tr
							td
								#{jsonVariable.sensorName}
							td
								#{jsonVariable.sensorType}
							td
								