extends ../layout.jade
	
block siden
	include sidenav.jade

block main
	div.editor
		script(type='text/javascript').
			//alert("#{subscription[0]["userid"]}");
			function initMap() {
				var myLatLng = {"lat": 121, //{subscription[0]["location"]["lat"]}, 	

				"lng": 37 }; //{subscription[0]["location"]["lng"]}

				var map = new google.maps.Map(document.getElementById('map1'), {
					zoom: 4,
					center: myLatLng
				});
				

				var data = !{JSON.stringify(subscription)}

				//alert(data[0]["location"]["lat"]);
				/*
				for (i=0;i<#{subscription.length};i++){

				
					var marker = new google.maps.Marker({
						position: {lat: 121//#data[i]["location"]["lat"]
						, lng: 37 //#data[i]["location"]["lng"]
						}
						,
						map: map,
						title: 'Sensor DataSet',
						id:data[i]["_id"]
					});

					var infowindow = new google.maps.InfoWindow({
						content:data[i]["dataSetId"]
					});


					google.maps.event.addListener(marker, 'click', (function(marker, i) {
						return function() {

						document.getElementById("but").style.visibility="visible";
						
					
						var rows="";
						for(j=0;j< data[i]["subscribedto"].length;j++){
						rows+="<tr><td>"+data[i]["dataSetId"]+"</td><td>"+data[i]["subscribedto"][j]["sensorname"]+"</td><td>"+data[i]["from"]+"</td><td>"+data[i]["to"]+"</td><td><input type='checkbox' name='check' value="+data[i]["dataSetId"]+"+"+data[i]["subscribedto"][j]["sensorId"]+"+"+data[i]["from"]+"+"+data[i]["to"]+"></td></tr>";
						}

						document.getElementById("tab").innerHTML="<table border='1' cellpadding='5' cellspacing='5' width='100%'><th bgcolor='#A5FF7F' height='50'>Dataset ID</th><th bgcolor='#A5FF7F' height='50'>Sensor Name</th><th bgcolor='#A5FF7F' height='50'>Booked From</th><th bgcolor='#A5FF7F' height='50'>Booked To</th><th bgcolor='#A5FF7F' height='50'>View</th>"+rows+"</table>"
						infowindow.setContent(data[i]["dataSetId"]);
						infowindow.open(map, marker);

					}
					})(marker, i));

					marker.setMap(map);
				}
				*/
				google.maps.event.addDomListener(window, 'load', initMap);
			}
		div.center 
			form(action="/data/retrieve", method="POST")
						.ui.inverted.tabular.menu
							a.item(href="/editor/overview") Overview
							.active.item(href="/editor/map") Map
						div(id="map1" style="position:center;height:400px; width:100%;") 
						p
						div(id="tab")
						p
						input(class="ui inverted blue button" id="but" style="visibility:hidden" type="submit" value="View Selected Sensor Data")

	

block post_wrap
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJHfwBxIqgN-TUtCwkaHZiBPoqYQipmLI&callback=initMap" )
	