extends ../layout.jade

block pre_main
	div#banner
		div.content
			h2
				| Simple Access
				| Alerting - When it happens
 				| Focus only on your dev - you'll want it!
				h4 

block main
	div.home

block post_wrap
