extends ../layout.jade
block siden
	include sidenav.jade

block main
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
	script(src="https://code.highcharts.com/stock/highstock.js")
	script(src="https://code.highcharts.com/stock/modules/exporting.js")
	script(src="http://localhost:8588/socket.io/socket.io.js")
	div.editor
		block content
			div.center
				div(id="container" style="min-width: 310px; height: 400px; margin: 0 auto")
		
	script.
		Highcharts.setOptions({
			global : {
				useUTC : false
			}
		});
		var count=0;
		var hchart;
		
		var con = "#container";
		$(function () {
					var con = "#container";
					hchart=new Highcharts.Chart({
						chart: {
							renderTo:'container',
							zoomType: 'x',
							defaultSeriesType: 'spline'
						},
						title: {
							text: "Station",
							x: -20 //center
						},	
						subtitle: {
							text: 'Source: Cencoos.org',
							x: -20
						},
						xAxis: {
							type: 'datetime',
							tickPixelInterval: 5500,
							maxZoom: 20 * 1000
						},
						yAxis: {
							minPadding: 0.2,
							maxPadding: 0.2,
							title: {
								text: 'Value',
								margin: 80
							}
						},
						series: [{
							name: "Accelerometer",
							data: []
						}]
					});
					
					var socket = io.connect('http://localhost:8588');
					
						
						var det;
						socket.on('data', function (data) {
							
							var series = hchart.series[0];
							shift = series.data.length > 500;
							console.log(data[0].accelerometer);
							hchart.series[0].addPoint([new Date().getTime(),parseFloat(data[0].accelerometer)], true, shift);
					
						});		
						
					
		});
		
													
block post_wrap
	
