nav#sidenav
		p
			a(id="sidemen" href="/editor/dashboard") Dashboard
			a(id="sidemen" href="/editor/sensorInstance") Sensor Instance
			a(id="sidemen" href="/data/mobileSensor") SmartPhone Sensors
			a(id="sidemen" href="/editor/account") Account
			a(id="sidemen" href="/editor/billing") Billing